# Logs
logs
*.log
npm-debug.log*

# Node modules
node_modules/

# dotenv
.env

# Build files
dist/
build/

# Editor folders
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# MongoDB dump files
dump/

# React cache
.cache/

# Other
*.local
.env.local
